/* desktop implementation */
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 40px;
  }

  .products-header {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  /* navbar styling */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.3rem;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 150px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    flex-basis: 100%;
    text-align: center;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav .nav-bar-items > a > span {
    padding: 15px;
  }

  nav a:hover {
    color: #d98555;
  }

  nav > a > span {
    align-items: center;
  }

  /* products page flexbox styling */

  .main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: white;
    align-items: flex-start;
  }

  article {
    flex-basis: 30%;
  }

  .article-adjust {
    flex-basis: 50%;
  }

  /* about page figure and article adjustments */
  .article-adjust > p {
    font-size: 18px;
  }

  figure {
    margin: 1.5rem 0 0 0;
    flex-basis: 30%;
    background-color: white; /* change back to brown to see child container flexbox fill*/
    border-radius: 10px;
  }

  .about-img-default {
    display: none;
  }

  .about-img-desktop {
    display: block;
  }

  .figure-adjust {
    flex-basis: 45%;
    align-content: flex-end;
    margin: 7rem 0 0 0;
  }

  /* contact page figure and article adjustments*/
  .contact-article {
    padding-top: 7rem;
  }

  .contact-article > h1 {
    font-size: 40px;
  }

  .contact-article > p {
    font-size: 20px;
  }

  .contact-figure {
    flex-basis: 50%;
    padding-top: 1rem;
  }
}

/* mobile implementation */
@media screen and (max-width: 420px) {
  /* general styling */
  h1 {
    font-size: 40px;
  }

  .products-header {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }

  nav > ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  article {
    flex-basis: 100%;
  }

  figure {
    flex-basis: 100%;
  }
  /* adjusting contact html images*/
  .about-img-default {
    display: none;
  }

  .about-img-mobile {
    display: flex;
  }

  /* the classes already exist in the base html, 
  we are just changing the values for these selectors in this
  media screen limit*/

  .article-adjust {
    flex-basis: 100%;
  }

  .figure-adjust {
    flex-basis: 100%;
    align-content: flex-end;
    margin: 3rem 0 0 2.25rem;
  }

  .about-image-mobile {
    height: auto;
    max-width: auto;
  }
}
